---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = "Home Page";


const res = await fetch('https://cms.leapmotornepal.com/wp-json/wp/v2/posts', {
  method: 'GET' 
});
const posts = await res.json();
---
<BaseLayout pageTitle = {pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />

  {
     posts.map((post) => (
        <article>
          <h2>
            <a href={`/posts/${post.slug}/`} set:html={post.title.rendered} />
          </h2>
        </article>
      ))
  }
</BaseLayout>